In [64]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.metrics import mean_squared_error, mean_absolute_error, confusion_matrix
import os

#나눔 고딕 적용
import matplotlib.font_manager
font_list = matplotlib.font_manager.findSystemFonts(fontpaths=None, fontext='ttf')
[matplotlib.font_manager.FontProperties(fname=font).get_name() for font in font_list if 'Nanum' in font]
\
import matplotlib.pyplot as plt
plt.rc('font', family='NanumGothicCoding')
\
import matplotlib as mpl
mpl.rcParams['axes.unicode_minus'] = False

matplotlib.rc("axes", unicode_minus = False)
from sklearn.model_selection import train_test_split
# export_graphviz: 나무 구조 생성 및 저장
from sklearn.tree import export_graphviz
import graphviz
from sklearn.model_selection import train_test_split, LeavePOut
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.tree import DecisionTreeClassifier

from sklearn.metrics import accuracy_score, precision_score, f1_score, recall_score
from sklearn.metrics import confusion_matrix, ConfusionMatrixDisplay, classification_report
from sklearn.model_selection import KFold
import itertools
from sklearn.preprocessing import MinMaxScaler

In [65]:
def measure(clf, x_test, y_test, target_name=None):
    y_pred = clf.predict(x_test)
    report = classification_report(y_test, y_pred, target_names=target_name)
    print("분류 보고서:\n")
    print(report)
    cm = confusion_matrix(y_test, y_pred)
    disp = ConfusionMatrixDisplay(confusion_matrix=cm, display_labels=target_name)
    disp.plot(cmap=plt.cm.Blues)
    plt.show()

In [45]:
save_path = "/home/piai/빅데이터프로젝트/data"
file_name = "Customer_data.csv"

df = pd.read_csv(os.path.join(save_path, file_name), encoding="euc-kr")

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6863 entries, 0 to 6862
Data columns (total 25 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   고객ID     6863 non-null   object
 1   성별       6863 non-null   object
 2   연령       6863 non-null   int64
 3   결혼여부     6863 non-null   object
 4   부양자유무    6863 non-null   object
 5   부양자수     6863 non-null   int64
 6   추천횟수     6863 non-null   int64
 7   영수증발급여부  6863 non-null   object
 8   과금방식     6863 non-null   object
 9   보안서비스    6863 non-null   object
 10  백업서비스    6863 non-null   object
 11  기술지원서비스  6863 non-null   object
 12  데이터무제한   6863 non-null   object
 13  데이터사용량   6863 non-null   int64
 14  시작일      6863 non-null   object
 15  종료일      1702 non-null   object
 16  고객이탈여부   6863 non-null   object
 17  이탈가능점수   6863 non-null   int64
 18  이탈유형     1702 non-null   object
 19  이탈사유     1702 non-null   object
 20  LTV      6863 non-null   int64
 21  만족도      6863 non-null   int64
 22  데이터사용료   6863 non-null   int64
 23  로밍사용료    6863 non-null   int64
 24  총로밍요금    6863 non-null   int64
dtypes: int64(10), object(15)
memory usage: 1.3+ MB

In [47]:
df.nunique()

고객ID       6863
성별            2
연령           61
결혼여부          2
부양자유무         2
부양자수          5
추천횟수         12
영수증발급여부       2
과금방식          3
보안서비스         2
백업서비스         2
기술지원서비스       2
데이터무제한        2
데이터사용량       50
시작일          82
종료일          12
고객이탈여부        2
이탈가능점수       85
이탈유형          5
이탈사유         20
LTV        3398
만족도           5
데이터사용료       16
로밍사용료       492
총로밍요금      5064
dtype: int64

In [48]:
df.describe()

,연령,부양자수,추천횟수,데이터사용량,이탈가능점수,LTV,만족도,데이터사용료,로밍사용료,총로밍요금
count,6863.000000,6863.000000,6863.000000,6863.000000,6863.000000,6863.000000,6863.000000,6863.000000,6863.000000,6.863000e+03
mean,46.606877,0.411482,1.990675,20.507358,58.133324,4412.442372,3.278304,7916.421390,25966.319394,8.674697e+05
std,16.581750,0.879672,3.024032,20.424957,21.408509,1180.383953,1.188723,28684.745619,17477.405921,9.601166e+05
min,20.000000,0.000000,0.000000,0.000000,5.000000,2003.000000,1.000000,0.000000,0.000000,0.000000e+00
25%,32.000000,0.000000,0.000000,3.000000,40.000000,3487.000000,3.000000,0.000000,10400.000000,9.441500e+04
50%,46.000000,0.000000,0.000000,17.000000,60.000000,4538.000000,3.000000,0.000000,25990.000000,4.860100e+05
75%,60.000000,0.000000,3.000000,27.000000,75.000000,5388.000000,4.000000,0.000000,41250.000000,1.379790e+06
max,80.000000,4.000000,11.000000,85.000000,100.000000,6500.000000,5.000000,169500.000000,56500.000000,4.028110e+06

In [49]:
df.columns

Index(['고객ID', '성별', '연령', '결혼여부', '부양자유무', '부양자수', '추천횟수', '영수증발급여부', '과금방식',
       '보안서비스', '백업서비스', '기술지원서비스', '데이터무제한', '데이터사용량', '시작일', '종료일', '고객이탈여부',
       '이탈가능점수', '이탈유형', '이탈사유', 'LTV', '만족도', '데이터사용료', '로밍사용료', '총로밍요금'],
      dtype='object')

In [50]:
df = df[
    ['성별', '연령', '결혼여부', '부양자유무', '부양자수', '추천횟수', '영수증발급여부', '과금방식',
       '보안서비스', '백업서비스', '기술지원서비스', '데이터무제한', '데이터사용량', '고객이탈여부',
       '이탈가능점수', 'LTV', '만족도', '데이터사용료', '로밍사용료', '총로밍요금']
       ]

In [51]:
df = pd.get_dummies(df)

In [52]:
df.head()

,연령,부양자수,추천횟수,데이터사용량,이탈가능점수,LTV,만족도,데이터사용료,로밍사용료,총로밍요금,...,보안서비스_No,보안서비스_Yes,백업서비스_No,백업서비스_Yes,기술지원서비스_No,기술지원서비스_Yes,데이터무제한_No,데이터무제한_Yes,고객이탈여부_No,고객이탈여부_Yes
0,37,0,2,16,65,2205,3,0,47910,431100,...,1,0,0,1,0,1,0,1,1,0
1,46,0,0,10,66,5414,5,11300,12090,108710,...,1,0,1,0,1,0,1,0,1,0
2,50,0,0,30,71,4479,1,0,38080,152100,...,1,0,1,0,1,0,0,1,0,1
3,78,0,1,4,99,3714,1,0,31410,408720,...,1,0,0,1,1,0,0,1,0,1
4,75,0,3,11,68,3464,1,0,8360,24970,...,1,0,1,0,0,1,0,1,0,1

In [53]:
df.columns.tolist()

['연령',
 '부양자수',
 '추천횟수',
 '데이터사용량',
 '이탈가능점수',
 'LTV',
 '만족도',
 '데이터사용료',
 '로밍사용료',
 '총로밍요금',
 '성별_남성',
 '성별_여성',
 '결혼여부_No',
 '결혼여부_Yes',
 '부양자유무_No',
 '부양자유무_Yes',
 '영수증발급여부_No',
 '영수증발급여부_Yes',
 '과금방식_계좌이체',
 '과금방식_신용카드',
 '과금방식_전자결제',
 '보안서비스_No',
 '보안서비스_Yes',
 '백업서비스_No',
 '백업서비스_Yes',
 '기술지원서비스_No',
 '기술지원서비스_Yes',
 '데이터무제한_No',
 '데이터무제한_Yes',
 '고객이탈여부_No',
 '고객이탈여부_Yes']

In [54]:
Y = df[["고객이탈여부_Yes"]]
X = df.drop(['고객이탈여부_No', '고객이탈여부_Yes'], axis=1)

In [55]:
X.columns

Index(['연령', '부양자수', '추천횟수', '데이터사용량', '이탈가능점수', 'LTV', '만족도', '데이터사용료',
       '로밍사용료', '총로밍요금', '성별_남성', '성별_여성', '결혼여부_No', '결혼여부_Yes', '부양자유무_No',
       '부양자유무_Yes', '영수증발급여부_No', '영수증발급여부_Yes', '과금방식_계좌이체', '과금방식_신용카드',
       '과금방식_전자결제', '보안서비스_No', '보안서비스_Yes', '백업서비스_No', '백업서비스_Yes',
       '기술지원서비스_No', '기술지원서비스_Yes', '데이터무제한_No', '데이터무제한_Yes'],
      dtype='object')

In [57]:
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size = .3, random_state=1234)
rf_base = RandomForestClassifier(random_state=1234)
dt_base = DecisionTreeClassifier(random_state=1234)
gbm_base = GradientBoostingClassifier(random_state=1234)

In [62]:
preds = []; cms = []; names = ["RF-baseline", "DT-baseline", "gbm_base"]
models = [rf_base, dt_base, gbm_base]
for model in models:
    model.fit(x_train, y_train)
    pred = model.predict(x_test)
    preds.append(pred)
    cms.append(confusion_matrix(y_test, pred))

/tmp/ipykernel_28669/3824992588.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model.fit(x_train, y_train)
/home/piai/anaconda3/envs/Rucious/lib/python3.8/site-packages/sklearn/ensemble/_gb.py:437: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [63]:
cms

[array([[1538,    8],
        [  37,  476]]),
 array([[1507,   39],
        [  25,  488]]),
 array([[1531,   15],
        [  30,  483]])]

In [ ]:
for